.about-us {
  display: flex;
  padding-bottom: 115px;
  position: relative;
  overflow-x: hidden;

  &::before {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    width: 405px;
    height: 405px;
    background-size: contain;
    background-image: url('../img/audience-bg@1x.png');

    @media (min-resolution: 1.5dppx) {
      background-image: url('../img/audience-bg@2x.png');
    }

    right: -66px;
    top: -7px;

  }

  &::after {
    content: '';
    width: 717px;
    height: 539px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/about-us-bg@1x.png');
    position: absolute;
    right: 46%;
    bottom: 6px;

    @media (min-resolution: 1.5dppx) {
      background-image: url('../img/about-us-bg@2x.png');
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1181px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;

  }

  &__title {
    margin-bottom: 104px;
  }

  &__txt-container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 54%;
    background-color: $light-blue;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    font-size: 20px;
    line-height: 26px;
    color: $white;
    padding: 46px 20px 44px 28px;
    // position: relative;
  }


  &__txt {
    &:first-child {
      margin-bottom: 26px;
    }
  }
}
