.audience {
  display: flex;

  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    width: 405px;
    height: 405px;
    background-size: contain;
    background-image: url('../img/audience-bg@1x.png');

    @media (min-resolution: 1.5dppx) {
      background-image: url('../img/audience-bg@2x.png');
    }

    right: 74%;
    top: -7px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1346px;
    width: 100%;
    margin: 0 auto;
    padding: 74px 30px 83px 30px;
  }

  &__title {
    margin-bottom: 80px;
  }

  &__slider {
    display: flex;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
    width: 100%;
    padding-left: 74px;
  }

  &__list-item {
    display: flex;
    position: relative;
    transition: .3s;

    &:hover {
      transform: scale(1.12);
      transition: .3s;
    }
  }

  &__img-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
  }

  &__img {
    filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.25));
    border-radius: 17px;
    display: block;
    height: auto;
    max-width: 100%;

  }

  &__caption {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $white;
    text-align: center;
    background: rgba(21, 25, 30, 0.6);
    border-radius: 0px 0px 17px 17px;
    bottom: 0;
    width: 100%;
    position: absolute;
    padding-top: 22px;
    padding-bottom: 22px;

  }
}

@media (max-width: 1176px) {
  .audience {
    &__caption {
      &--last {
        line-height: 17px;
        padding-top: 17px;
        padding-bottom: 17px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .audience {
    &__caption {
      font-size: 16px;
      line-height: 18px;

      &--last {
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }
}

@media (max-width: 816px) {
  .audience {
    &__caption {
      &--last {
        line-height: 14px;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}


@media (max-width: $mobile) {
  .audience {
    &::before {
      content: none;
    }

    &__container {
      padding-top: 46px;
      padding-right: 0;
      padding-left: 0;
    }

    &__slider {
      overflow: hidden;
    }

    &__wrapper {
      padding-left: 0;
      column-gap: unset;
      padding-left: 30px;
    }

    &__list-item {
      width: auto;
      max-width: 256px;
      max-height: 256px;
      flex-shrink: 0;

      &:hover {
        transform: none;
      }
    }

    &__img {
      filter: unset;
    }

    &__title {
      margin-bottom: 30px;
    }
  }
}
