.main-footer {
  display: flex;
  background: linear-gradient(112.25deg, #005BFF 29.47%, #36A6E8 104.07%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 33px;
    max-width: 643px;
    width: 100%;
    color: $white;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 30px;
  }

  &__links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    width: 100%;
  }

  &__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    position: relative;
    padding-left: 54px;
    margin-top: -25px;

    &::after {
      content: '';
      position: absolute;
      width: 263px;
      height: 2px;
      background-color: $white;
      left: 0;
      bottom: -15px;
    }
  }

  &__logo-link {
    margin-left: -25px;
    padding-top: 25px;
  }

  &__socials {
    position: relative;
    padding-top: 0;
    padding-right: 83px;
    margin-top: -25px;

    &::after {
      content: '';
      position: absolute;
      width: 263px;
      height: 2px;
      background-color: $white;
      bottom: -7px;
      left: -84px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 65px;
  }

  &__credits {
    display: flex;
    max-width: 352px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 55px;
    padding-right: 55px;
    opacity: 0.5;

  }

  &__credits-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  &__credits-links {
    display: flex;
    justify-content: space-between;
    max-width: 82px;
    margin: 0 auto;
  }

  &__credits-link {
    &:hover svg path {
      fill: $lemon;
    }
  }

}

@media (max-width: $mobile) {
  .main-footer {

    &__container {
      padding-top: 4px;
    }

    &__links-wrapper {
      position: relative;
      margin-bottom: 88px;

      &::after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: $white;
        width: 141px;
        bottom: 30%;
        left: 0;
      }

      &::before {
        content: '';
        position: absolute;
        height: 2px;
        background-color: $white;
        width: 141px;
        bottom: 30%;
        right: 0;
      }
    }

    &__link {
      font-family: $montserrat;
      font-size: 15px;
      font-weight: 600;
      white-space: nowrap;
      padding-left: 0;
      position: absolute;
      right: 57%;
      bottom: -47px;

      &::after {
        content: none;
      }
    }

    &__logo-link {
      margin: 0 auto;
    }

    &__logo {
      width: 44px;
      height: 49px;
    }

    &__socials {
      padding-right: 0;
      position: absolute;
      left: 66%;
      bottom: -47px;

      &::after {
        content: none;
      }

      svg {
        width: 29px;
        height: 29px;
      }
    }

    &__text {
      font-size: 15px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
