.main-header {
  display: flex;
  padding-top: 31px;
  margin-bottom: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1246px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin: 0 auto;
  }

  &__logo-link {
    margin-right: 50px;
  }
}


@media (max-width: $tablet) {
  .main-header {
    &__logo-link {
      order: 1;
      margin-right: 0;
      margin-left: 50px;
    }

    &__socials {
      order: 2;

      .socials__svg {
        width: 24px;
        height: 24px;
      }
    }

    &__container {
      padding-left: 28px;
      padding-right: 28px;
    }
  }
}

@media (max-width: $mobile) {
  .main-header {
    &__logo-link {
      img {
        width: 44px;
        height: 49px;
      }
    }

    &__socials {
      flex-wrap: nowrap;
    }
  }
}
