.main-header {
  display: flex;
  padding-top: 31px;
  margin-bottom: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1246px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin: 0 auto;
  }

  &__logo-link {
    margin-right: 30px;
  }
}


@media (max-width: $mobile) {
  .main-header {
    &__logo-link {
      order: 1;
      margin-right: 0;
      margin-left: 90px;
    }

    &__socials {
      order: 2;
    }

    &__container {
      padding-left: 28px;
      padding-right: 28px;
    }
  }
}
