.programmes {
  display: flex;
  flex-direction: column;
  // max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-width: 0;
  margin-bottom: 84px;

  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    width: 405px;
    height: 405px;
    background-size: contain;
    background-image: url('../img/audience-bg@1x.png');

    @media (min-resolution: 1.5dppx) {
      background-image: url('../img/audience-bg@2x.png');
    }

    left: -66px;
    top: -7px;
  }


  &__container {
    // max-width: 1440px;
    // margin: 0 auto;
  }

  &__title {
    padding-top: 54px;
    margin-bottom: 24px;
  }

  &__slider {
    margin-left: 66px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;

    .swiper-slide {
      width: auto;

      &:last-child {
        margin-right: 30px;
      }
    }
  }

  &__card {
    display: flex;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 17px;
  }

  &__img {
    position: relative;
    max-width: 100%;
    display: block;
    border-radius: 17px;
    object-fit: cover;
    z-index: 5;
  }

  &__card-info {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 25px;
    padding-top: 28px;
    margin-left: -27px;
    position: relative;

    background: $white;
    border-radius: 17px;
  }

  &__card-txt-container {
    max-width: 371px;
    width: 100%;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  &__card-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: $navy;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__card-txt:not(:last-child) {
    margin-bottom: 20px;
  }

  &__card-link {
    @include call-button;
    position: absolute;
    width: 120px;
    white-space: nowrap;
    padding: 16px 0;
    width: 300px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    bottom: 32px;

    &:hover {
      filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
      transition: .3s;
    }
  }
}
