.socials {

  &__link {
    cursor: pointer;
    transition: .3s;
  }

  &__link:last-child svg {
    margin-left: 27px;
  }

  &__link:hover .socials__path {
    fill: $mustard;
    transition: .3s;
  }

}

