.socials {
  padding-top: 14px;

  &__link {
    cursor: pointer;
    transition: .3s;

    :last-child {
      margin-left: 27px;
    }

  }

  &__link:hover .socials__path {
    fill: $mustard;
    transition: .3s;
  }

}
