@mixin header-nav-text {
  font-family: $open-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: $black;
}

@mixin page-title {
  font-family: $playfair-display;
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 83px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $black;
  margin: 0;
}

@mixin subtitle {
  font-family: $playfair-display;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: $black;
  text-transform: uppercase;
  margin: 0;
}

@mixin product-name {
  font-family: $open-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: $black;
  margin: 0;
}

@mixin new-price {
  font-family: $open-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: $black;
}

@mixin buy-button {
  font-family: $open-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: $white;
  background-color: $black;
}

@mixin toggle-number-inactive {
  font-family: $playfair-display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

@mixin toggle-number-active {
  font-family: $playfair-display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #000000;
}

@mixin reset-default-button-style {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
