/*Fonts*/
$montserrat: "Montserrat",
sans-serif,
Arial;

/*Text colors*/
$black: #000000;
$white: #ffffff;

/*Bg colors*/
$main-bg-color: #ffffff;
$light-blue: #36A6E8;
$navy: #015DFF;
$lemon: #F7EB2A;
$mustard: #F5EB28;
$pink:#FFD8DB;
$whitish: #FEFAF9;
$mint: #E3F1FD;
$light-yellow: #FFFBBA;
$light-pink: #FCE4E8;
