/*Fonts*/
$playfair-display: "Playfair Display",
sans-serif,
Arial;
$open-sans: "Open Sans",
sans-serif,
Arial;
$roboto: "Roboto",
sans-serif,
Arial;
$avenir-next: "Avenir Next",
sans-serif,
Arial;

/*Text colors*/
$black: #303032;
$white: #ffffff;

/*Bg colors*/
$mint: #f9fdff;
$ash: #313133;
$strawberry: #FCEAE8;
$grey: #b3b3b3;
