/*Fonts*/
$montserrat: "Montserrat",
sans-serif,
Arial;

/*Text colors*/
$black: #000000;
$white: #ffffff;

/*Bg colors*/
$main-bg-color:#E5E5E5;
$light-blue: #36A6E8;
$lemon: #F7EB2A;
$mustard: #F5EB28;
$pink:#FFD8DB;
$whitish: #FEFAF9;
$mint: #E3F1FD;
